
html, body {
  font-family: 'ubuntu', helvetica, Arial, sans-serif;
  background-image: url(../assets/pix/bkgrd.jpg);
  background-size: 100%; 
}
header {
  background-color: rgba(227, 197, 99, 0.3);
  height: 230px;
  border: 2px solid rgba(180, 180, 180, 0.4);  
  }
.logo {
  z-index: 1;
  width: auto;
  height: 200px;
  /* animation: 3s ease infinite alternate logoMov ; */
} 
nav {
  text-align: center;
}
.navigation {
  list-style: none;
  display: inline-flex;
  font-size: 1.5rem;
}
.navigation > li {
  margin: 10px;
  padding-left: 50px;
}
.navigation li a:visited,
.menuList li a:visited {
  color: rgb(135, 190, 152);
}
.navigation li a:hover,
.menuList li a:hover {
  color: rgb(0, 169, 20);
}
.menuList li {
  text-align: center;
  list-style: none;
} 
.menuList{
  margin-top: 50px;
}

h1 {
  padding-top: 50px;
  color: rgb(103, 137, 131);
  font-size: 3rem;
  text-shadow: 5px 5px 8px rgb(133, 133, 133);
  transform: translateY(-26px);
}
h2 {
  color: rgb(65, 86, 82);
}
aside{
  background-color: rgba(24, 29, 49,0.6);
  font-size: 1.5rem;
} 
content {
  background-color: rgba(103, 137, 131, 0.6);
  height: 600px;
  overflow: auto;
}

content a {
  text-decoration: underline;
  color: rgb(63, 86, 81);
}
.divContent{
  width: 80%;
  color: whitesmoke;
  font-size: 1.5rem;
}
p {
  font-size: 1.5rem;
  color: whitesmoke;
}

.footer_nav li a {
  padding-left: 15px;
  padding-right: 15px;
  font-size: 1.5em;
  font-weight: bold;
  color: rgb(125, 185, 143);
}
.footer_nav li a:visited {
  color: rgb(50, 78, 59);
}
.footer_nav li a:hover {
  color: rgb(75, 158, 84);
}
footer {
  background: rgba(227, 197, 99, 0.3);
  height: 150px;
}
a {
  text-decoration: none;
  color: rgb(125, 185, 143);
}

.footer_nav {
  margin-top: 20px;
  list-style: none;
  display: inline-flex;
  justify-content: center;
}


.borderGreen {
  border: 2px solid rgba(21, 255, 21, 0.4);  
} 
/* .borderBlack {
  border: 1px solid rgba(173, 255, 47, 0.3);  
} */
.contacts{
  font-size: 1.5rem;
  color: rgb(99, 99, 99);
}

/*________________________________________________________*/
@media screen and (max-width: 992px) {
.logodiv{text-align: center;}
h1{justify-content: center;}

.navigation {text-align: center; justify-content: center;}
nav{text-align: center; justify-content: center;}
.container-fluid {justify-content: center;}
.logo {height: 120px;}
.footer_nav {
  list-style: none;
  display: block;
  text-align: center;
}
aside {
  list-style: none;
  text-align: center
} 
header {
  height: auto;
}
}
/*________________________________________________________*/
@media screen and (max-width: 700px) {
  .navigation > li {
    margin: 10px;
    padding-left: 10px;
  }
  .logodiv{text-align: center;}
  h1{justify-content: center;}
  
  .navigation {text-align: center; justify-content: center;}
  nav{text-align: center; justify-content: center;}
  .container-fluid {justify-content: center;}
  .logo {height: 120px;}
  
  .footer_nav {
    list-style: none;
    display: block;
    text-align: center;
  }
  aside {
    list-style: none;
    text-align: center
  } 
  .menuList li {
    text-align: center;
  }
  header {
    height: auto;
  }
}
/*________________________________________________________*/
@media screen and (min-width: 460px) {
  .titre {
    font-size: 2rem;
    transform: translateY(-10px);
  }
}

@media screen and (min-width: 992px) {
  .menuList li {
    margin-bottom: 100px;
    text-align: left;
  }


  @media screen and (min-width: 700px) {
    .menuList li {
  margin-bottom: 100px;
  text-align: left;
    }
  }
}


@keyframes logoMov {
  from{ transform: translateX(0px) rotate(0deg);}
  to{ transform: translateX(20px) rotate(3deg);}
}
